@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* myTheme Colors */
  --primary: #0059ff;
  --secondary: #00a7ff;
  --accent: #0070ff;
  --neutral: #1b1b1b;
  --base-100: #242424;
  --info: #0093d8;
  --success: #abd400;
  --warning: #ffbc00;
  --error: #e81958;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

h1.page-header {
  margin: 16px;
  padding: 8px 24px;
  color: #22d3ee;
  font-size: 32px;
  border: 1px solid #44e3ff;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 10px 1px #0001;
}

/* RESEARCH WHAT THE FOLLOWING DOES: */
/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
